body {
    background: #3498db;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

.head {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 2em;
}

.carContainer {
    position: absolute;
    top: 10%;
    padding: 0%;
    background: white;
    border: 2px solid;
}

#carPark {
    display: flex;
    padding: 30px;
}

.tbl-cont {
    position: relative;
    top: 10%;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.tableTable {
    position: relative;
    margin: auto;
    background: white;
    text-align: center;
}